<header data-th-fragment="frag-entete">
	<nav>
	<ul>
		<li><a href="formateurs">L'ensemble des formateurs</a></li>
		<li><a href="formateurs/creer">Créer un formateur</a></li>
	</ul>
	<ul>
		<li> <a href="/contexte/SessionEtRequest">Démo-Contextes</a></li>
		<li><a href="/contexte/SessionEtRequest?pseudo=Julien">Pseudo Julien</a></li>
		<li><a href="/contexte/SessionEtRequest/recuperer">Récupérer les utilisateurs</a></li>
		<li><a href="/utilisateurs">Utilisateur (autre controller)</a></li>
	</ul>
		

	</nav>

</header>