<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/general.css}" />
<link rel="stylesheet" th:href="@{/css/demo-form.css}" />
<link rel="stylesheet" th:href="@{/css/demo-error.css}" />
<link rel="icon" th:href="@{/images/logoENI.png}" />
<title>Insert title here</title>
</head>

<body>
	<div data-th-replace="~{/fragments/fragment-entete :: frag-entete}"></div>
	<h1>Un nouveau lapin !</h1>

	<form th:action="@{/formateurs/creer}" method="POST"
		th:object="${formateur}">
		<div th:replace="~{/fragments/errors/fragment-errors :: frag-errors}"></div>
		<h1>Création du formateur</h1>
		<ul class="flex-outer">

			<li>
			
				<label for="inputPrenom">Prénom</label>
				<input id="inputPrenom" type="text"  th:field="*{prenom}" />
		<div th:replace="~{/fragments/errors/fragment-error :: frag-error('prenom')}"></div>				
			</li>
			<li>
				<label for="inputNom">Nom</label>
				<input id="inputNom" type="text"  th:field="*{nom}" />
				<div th:replace="~{/fragments/errors/fragment-error :: frag-error('nom')}"></div>	
			</li>
			<li>
				<label for="inputEmail">Email</label>
				<input id="inputEmail"type="text" th:field="*{email}" />
				<div th:replace="~{/fragments/errors/fragment-error :: frag-error('email')}"></div>	
			</li>
			<li>
			<label for="inputCours">Cours</label>
			
			<select id="inputCours" th:field="*{listeCours}"  multpile="multiple">
			
					<option value="" th:each="item : ${coursSession}"
						th:value="${item.id}" th:text="${item.titre}">
					</option>
			</select></li>

			<li><button type="submit">Enregistrer</button></li>


		</ul>
	</form>


	<div data-th-replace="~{fragments/fragment-footer :: frag-footer}"></div>

</body>
</html>